[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[55322E3A1BA21AEB]
row=1
col=0

[FCB83C33B83BEB32]
row=0
col=0

[728CDC6F8CDC2F7B]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/linh]
row=5
col=0

